.mainWrapper h1{
  margin: 0;
}

.mainWrapper{
  height: 100vh;
  background: linear-gradient(to right, #aa2555, #ea473e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input input{
  width: 100%;
  padding: 5px 50px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.todoBlock{
  max-height: 500px;
  min-height: 200px;
  min-width: 500px;
  max-width: 200px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 50px;
  color: wheat;
  overflow: auto;
  position: relative;
}

.todoBlock::-webkit-scrollbar {
  display: none;
}

.wrapperMain{
  position: relative;

}

.title{
  color: white;
  position: absolute;
  right: 20px;
  top: -20px;
  filter: blinds(100px);
  /*z-index: 10;*/
}

.task {
  padding: 10px;
  border-bottom: 1px solid black;
}

.taskCompleted {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #000;
}

.completedIcon {
  width: 17px;
  position: absolute;
  top: -80%;
  left: -3%;
}

.btnBlock {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  right: 5%;
  bottom: 10%;
  display: flex;
  background: rgba(200, 255, 255, 0);
  justify-content: center;
  align-items: center;
  transition: 1s;
  cursor: pointer;
}
.btnBlock:hover svg {
  transition: 1s;
  transform: rotate(180deg);
}
.btnBlock:hover {
  background: rgba(255, 255, 255, 0.1);
}

.modalWrapper {
  transition: 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(96, 93, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBlock {
  max-width: 30%;
  min-width: 300px;
  height: 30%;
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 50px;
}

.modalBlock input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 15px;
  border: 1px solid black;
}

.modalBtns { 
  height: 90%;
  max-height: 180px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.btnModal {
  padding: 5px 20px;
  margin: 5px;
  transition: 0.5s;
  border: 1px solid black;
  border-radius: 10px;
  background: #fff;
}

.btnModal:hover {
  /* opacity: 0.7; */
  transition: 0.5s;
  /* background: linear-gradient(to right, #aa2555, #ea473e); */
  background: #ca3649;
  border-radius: 2px; 
  outline: none;  
  color: #fff;
}

.notActive {
  transition: 1s;
  display: none;
}

.task {
  transition: 0.5s;
  user-select: none;
  position: relative;
}

.task:hover {
  transition: 0.5s;
  transform: scale(0.97);
}



.editIcon, .deletedIcon {
  stroke: none;
  fill: none;
}

.task:hover .editIcon, .task:hover .deletedIcon {
  stroke: black;
  fill: black;
}

.task div h2 {
  width: 100%;
}

.task div {
  display: flex;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 600px) {

}

